{{> head}}
{{!-- Щаблонизация-возможность подставлять перменные, из обрабатывать, делать динамику --}}

<body>
  {{>navbar}}
  <div class="container">{{{ body }}}</div>
  {{!-- динамически будет подставляться контент --}}
</body>
{{>footer}}

</html>