<h1>Добавить новый курс</h1>
<form method="POST" action='/add'>

  <div class="input-field ">
    <input id="title" type="text" name='title' class="validate" required>
    <label for="title">Название курса</label>
    <span class="helper-text" data-error="Введите название"></span>
  </div>
  <div class="input-field ">
    <input id="price" type="number" name='price' class="validate" min=1 required>
    <label for="price">Цена курса</label>
    <span class="helper-text" data-error="Введите цену"></span>
  </div>
  <div class="input-field ">
    <input id="img" type="text" name='img' class="validate" required>
    <label for="img">URL картинки</label>
    <span class="helper-text" data-error="Введите url"></span>
  </div>
  <div class="input-field ">
    <label for="textArea">Описание</label>
    <textarea name="textArea" id="textArea" class="materialize-textarea validate" required></textarea>
    <span class="helper-text" data-error="Введите описание"></span>
  </div>
  <button class="btn btn-primary">Добавить курс</button>

</form>