<div class="row course-full">
  <div class="col s12">
    <div class="card p5">
      <h1>{{corse.title}}</h1>
    </div>
    <div class="card-image">
      <img src="{{corse.img}}" alt="">
    </div>
    <div class="card-content">
      <p>{{corse.textArea}}</p>
      <p class='price'>{{corse.price}}</p>
    </div>
  </div>
</div>